body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../icon/photo-1503625958874-841b0d503dd0.jpeg");
    background-size: cover;
}
h2{
    margin-left: 15%;
    text-decoration: underline;
}
input{
    height: 2.5em;
    width: 60%;
    border-radius: 15px;
    margin-left: 10%;
}

#feels, #humid, #wind{
    color: aliceblue;
    font-size: larger;
}
#temp{
    color: aliceblue;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}
#loc{
    margin-top: 20%;
    color:#e3eaf0;
   margin-left: 40%;
   text-shadow: 5px 5px 8px #7b858f;
}

#mainDiv{
    height: 100vh;
}
#firstDiv{
    height: 100%;  
}
#secDiv{
  height: 100%;  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

input::placeholder {
    text-align: center;
}

button{
    margin-left: 4%;
}

#details{
    margin-top: 30%;
}
#hourly{
    margin-top: 10%;
}
h4{
    padding-top: 7%;
    text-align:center;
}
#weathImg{
    width: 90%;
    height: 50%;
    margin-left: 30%;
    margin-top: 5%;
}


@media(max-width:600px){
    #weathImg{
        width: 90%;
        height: 50%;
        margin-left: 5%;
        margin-top: 5%;
    }
    h2{
margin-right: 20%;
    }
    #loc{
        margin-left: 35%;
    }
    
}
